<div
  fxFlex="100"
  [ngStyle.gt-sm]="{
    'margin-left': ' .5rem',
    'margin-right': '.5rem'
  }"
  fxLayoutAlign="center"
>
  <mat-tab-group fxFlex="100" style="overflow-x: hidden">
    <!-- <mat-tab label="pin" hidden="true">
        <form>
          <mat-form-field>
            <mat-label>Pincode</mat-label>
            <input matInput placeholder="pin" [(ngModel)]="pinCode" />
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="searchByPin(pinCode)">
            Search
          </button>
        </form>
      </mat-tab> -->
    <mat-tab
      fxLayout="column"
      label="district"
      fxFlex="100"
      fxLayoutAlign="center"
    >
      <div
        fxLayout="column"
        fxFlex="100"
        fxLayoutAlign="center"
        style="overflow-x: hidden"
      >
        <form fxLayout="column" fxFlex="100">
          <!-- <mat-form-field appearance="fill">
              <mat-label>State</mat-label>
              <mat-select
                (valueChange)="getDistById($event)"
                [(ngModel)]="stateCode"
                name="stateCode"
              >
                <mat-option
                  *ngFor="let item of stateList.states"
                  [value]="item.state_id"
                >
                  {{ item.state_name }}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
          <mat-form-field appearance="fill">
            <mat-label>District</mat-label>
            <mat-select [(ngModel)]="districtId" name="Center">
              <mat-option
                *ngFor="let item of districtList.districts"
                [value]="item.district_id"
              >
                {{ item.district_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div
            fxLayout="row"
            fxLayout.lt-md="column"
            fxLayoutAlign="center stretch"
            fxLayoutGap.gt-sm="2rem"
            fxLayoutGap.lt-md=".5rem"
          >
            <div>
              <mat-button-toggle-group
                name="dose"
                [(ngModel)]="config.dose1"
                aria-label="Font Style"
              >
                <mat-button-toggle [value]="true">Dose 1</mat-button-toggle>
                <mat-button-toggle [value]="false">Dose 2</mat-button-toggle>
              </mat-button-toggle-group>
            </div>

            <div fxLayout="column">
              <mat-form-field>
                <mat-label>Min Count</mat-label>
                <mat-select [(ngModel)]="config.minCount" name="minCount">
                  <mat-option [value]="0">1 or more</mat-option>
                  <mat-option [value]="1">2 or more</mat-option>
                  <mat-option [value]="4">5 or more</mat-option>
                  <mat-option [value]="9">10 or more</mat-option>
                  <mat-option [value]="19">20 or more</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxLayout="column">
              <mat-slider
                color="primary"
                fxLayoutAlign="start center"
                min="10000"
                max="120000"
                step="10000"
                [(ngModel)]="config.timeInterval"
                name="timer"
              ></mat-slider>
              <div style="margin-top: -1rem" fxLayoutAlign="center">
                timer:{{ config.timeInterval / 1000 }} sec
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center">
              <button
                style="min-width: 12rem"
                mat-raised-button
                (click)="pinCode2.show = !pinCode2.show"
              >
                {{ pinCode2.show ? "Close" : "Add" }} Pincode Set
              </button>
            </div>
          </div>

          <div
            fxLayoutAlign="center"
            fxLayout.lt-md="column"
            fxLayoutAlign.lt-md="center"
            fxLayoutGap=".3rem"
          >
            <div
              fxLayoutAlign="center"
              fxFlex.lt-md="100"
              [ngStyle.gt-sm]="{
                'padding-right': '.5rem'
              }"
            >
              <div fxLayoutGap="2rem" fxLayout.lt-md="row">
                <mat-form-field appearance="outline">
                  <mat-label>Pincode set 1</mat-label>
                  <input
                    matInput
                    placeholder="12345,365675,.."
                    [(ngModel)]="pinCode.pinCode"
                    name="pinCode"
                  />
                </mat-form-field>
                <mat-checkbox
                  fxLayoutAlign.lt-md="center center"
                  name="18plus"
                  [(ngModel)]="pinCode.is18Only"
                  >Age 18 only</mat-checkbox
                >
              </div>
            </div>
            <div
              fxLayoutAlign="center"
              fxFlex.lt-md="100"
              *ngIf="pinCode2.show"
              [ngStyle.gt-sm]="{
                'border-left': '1px solid',
                'padding-left': '.5rem'
              }"
            >
              <div
                fxLayoutGap="2rem"
                fxLayout.lt-md="row"
                fxLayoutAlign.lt-md="center center"
              >
                <mat-form-field appearance="outline">
                  <mat-label>Pincode set 2</mat-label>
                  <input
                    matInput
                    placeholder="12345,365675,.."
                    [(ngModel)]="pinCode2.pinCode"
                    name="pinCode2"
                  />
                </mat-form-field>

                <mat-checkbox
                  fxLayoutAlign.lt-md="center center"
                  name="18plus"
                  [(ngModel)]="pinCode2.is18Only"
                  >Age 18 only</mat-checkbox
                >
              </div>
            </div>
          </div>
          <div fxLayoutAlign="center" fxFlex="100" style="margin-bottom: 1rem">
            <mat-spinner
              diameter="50"
              fxLayoutAlign="center"
              *ngIf="spinner"
            ></mat-spinner>
          </div>
          <div fxLayoutAlign="center" fxLayoutGap="2rem">
            <button
              mat-raised-button
              color="primary"
              fxFlex="10"
              fxFlex.lt-md="40"
              (click)="searchByDistloop(districtId)"
            >
              Start
            </button>

            <button
              mat-raised-button
              color="primary"
              fxFlex="10"
              fxFlex.lt-md="40"
              (click)="stopLoop()"
            >
              Stop
            </button>
          </div>
        </form>
        <mat-card *ngFor="let c of respList; let j = index" fxFlex="80">
          <mat-card-content *ngIf="c.length">
            <h3>
              <strong>Pin Code {{ j + 1 }} </strong>
            </h3>

            <div
              *ngFor="let item of c; let i = index"
              fxFlexLayout="center"
              fxLayout.gt-sm="row"
              fxLayout.lt-md="column"
            >
              <div fxFlex.gt-sm="40" fxFlex.lt-md="100" fxLayout="row">
                <table>
                  <th style="text-align: left">
                    {{
                      i +
                        1 +
                        " " +
                        item.name +
                        " " +
                        item.block_name +
                        " " +
                        item.pincode
                    }}
                  </th>
                </table>
                <mat-icon
                  style="cursor: pointer"
                  (click)="copyPinCode(item.pincode)"
                  >message</mat-icon
                >
              </div>

              <table fxFlex.gt-sm="50" fxFlex.lt-md="100">
                <td>
                  <tr style="border: 1px solid">
                    <th style="border: 1px solid">Vaccine Name</th>
                    <th style="border: 1px solid">Age Limit</th>
                    <th style="border: 1px solid">
                      {{ config.dose1 ? "DOSE 1" : "DOSE 2" }}
                    </th>
                  </tr>
                  <tr *ngFor="let s of item.sessions">
                    <td style="border: 1px solid">{{ s.vaccine }}</td>
                    <td style="border: 1px solid">{{ s.min_age_limit }}</td>
                    <td style="border: 1px solid">
                      {{
                        config.dose1
                          ? "Count-" + s.available_capacity_dose1
                          : "Count-" + s.available_capacity_dose2
                      }}
                    </td>
                  </tr>
                </td>
              </table>
            </div>
            <hr />
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
